<table class="table">
    <caption>Paquetes:</caption>
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Ubicacion</th>
        <th scope="col">Peso</th>
        <th scope="col">Fecha de Vencimiento</th>
       <!-- <th scope="col">Tipo de Alimento</th> -->
        <th scope="col"> Asignado a Envio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paquete of paquetes">
        <th>{{paquete.codigo}}</th>
        <th>{{paquete.ubicacion}}</th>
        <th>{{paquete.peso}}</th>
        <th>{{paquete.fecha_vencimiento}}</th>
       <!-- <th>{{obtenerTipoDeAlimento(Paquete)}}</th> -->
        <th>
          {{asignadoAEnvio(paquete)}}
        </th>
      </tr>
    </tbody>
  </table>
