<body class="text-center">
    <h4>Donar</h4>
    <form class="form-signin" (ngSubmit)="onSubmit()" [formGroup]="donacionForm">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Descripcion</label>
        <input type="descripcion" id="inputEmail" class="form-control" placeholder="Descripcion" required autofocus
            formControlName="descripcion">
        <input type="fecha_disponibilidad" id="inputEmail" class="form-control" placeholder="Fecha de Disponibilidad"
            required autofocus formControlName="fecha_disponibilidad">
        <input type="fecha_vencimiento" id="inputEmail" class="form-control" placeholder="Fecha de Vencimiento" required
            autofocus formControlName="fecha_vencimiento">
        <span>Seleccione tipos de vehiculos donde cabe la donacion:</span>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="auto">
            <label class="custom-control-label" for="customCheck1">Auto</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="camioneta">
            <label class="custom-control-label" for="customCheck1">Camioneta</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="camion">
            <label class="custom-control-label" for="customCheck1">Camion</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Confirmar Donacion</button>
    </form>
    <a routerLink="/donante" class="btn btn-link">Cancelar</a>
</body>