<div class="album py-5 bg-light" style="margin:20px">
    <div class="container">
        <h4>Ingresá en una categoría</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4>Voluntario</h4>
                        <p class="card-text">Revisa todo tu aporte y ayudanos a seguir creciendo</p>
                        <div class="d-flex justify-content-center">
                            <a routerLink="voluntario">
                                <button type="button" class="btn btn-md btn-outline-secondary">Iniciar
                                    Sesion</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4>Organizacion Donante</h4>
                        <p class="card-text">Realiza el seguimiento de 
                            todas tus donaciones y ayuda con una nueva donación a comunidad</p>
                        <div class="d-flex justify-content-center">
                            <a routerLink="donante">
                                <button type="button" class="btn btn-md btn-outline-secondary">Iniciar
                                    Sesion</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4>Organizacion Beneficiaria</h4>
                        <p class="card-text">Realiza el seguimiento de tus donaciones y corrobora que todo esté OK </p>
                        <div class="d-flex justify-content-center">
                            <a routerLink="beneficiario">
                                <button type="button" class="btn btn-md btn-outline-secondary">Iniciar Sesion</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="text-right" style="margin-right:20px;">Iniciar session como <a routerLink="admin"
            class="button">Admin</a></p>
</div>
<router-outlet></router-outlet>