<table class="table">
  <caption>Bultos: {{filter}}</caption>
  <thead>
    <tr>
      <th scope="col">Donante</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Fecha de Disponibilidad</th>
      <th scope="col">Fecha de Vencimiento</th>
      <th scope="col">Estado</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bulto of bultos">
      <th>{{obtenerDonante(bulto)}}</th>
      <th>{{bulto.descripcion}}</th>
      <th>{{bulto.fecha_disponibilidad}}</th>
      <th>{{bulto.fecha_vencimiento}}</th>
      <th>{{bulto.estado}}</th>
      <th *ngIf="filter == 'sin-asignar'">
        <button class="btn btn-info btn-small" *ngIf="bulto.estado == 'pendiente de retiro'" (click)="asignarTrasladoButtonClick()">Asignar traslado</button>
      </th>
      <th *ngIf="filter == 'asignados'">
        <button class="btn btn-info btn-small" *ngIf="bulto.estado == 'pendiente de carga'" (click)="cargarContenidoButtonClick(bulto.id)">Cargar contenido</button>
        <button class="btn btn-info btn-small" *ngIf="bulto.estado == 'cargado'" (click)="verDetallesButtonClick(idx)">Ver Detalles</button>
      </th>
    </tr>
  </tbody>
</table>