<!-- <header class="sticky">
    <a routerLink="cars" class="button"> <span> Cars</span> </a>
</header> -->
<nav class="navbar navbar-light bg-light">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Usuarios
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <a routerLink="users/donantes"><button class="dropdown-item" type="button">Organizaciones Donantes</button></a>
      <a routerLink="users/beneficiarios"><button class="dropdown-item" type="button">Organizaciones Beneficiarias</button></a>
      <a routerLink="users/voluntarios"><button class="dropdown-item" type="button">Voluntarios</button></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Bultos
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <a routerLink="bultos/todos"><button class="dropdown-item" type="button">Listado de Bultos</button></a>
      <a routerLink="bultos/pendientes"><button class="dropdown-item" type="button">Bultos pendientes de carga</button></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Envios
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <a routerLink="envios/todos"><button class="dropdown-item" type="button">Todos</button></a>
      <a routerLink="envios/sin-asignar"><button class="dropdown-item" type="button">Sin Asignar</button></a>
      <a routerLink="envios/asignados"><button class="dropdown-item" type="button">Asignados</button></a>
    </div>
  </div>
  <button routerLink="paquetes" class="button"> <span> Paquetes </span> </button>
</nav>
<router-outlet></router-outlet>

<!-- <div class="row">
  <div class="col-sm-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</div> -->