<!-- <header class="sticky">
    <a routerLink="users" class="button"> <span> Users</span> </a>
    <a routerLink="cars" class="button"> <span> Cars</span> </a>
    <a routerLink="bultos" class="button"> <span> Bultos</span> </a>
    <a routerLink="envios" class="button"> <span> Envios</span> </a>
    <a routerLink="paquetes" class="button"> <span> Paquetes</span> </a>
</header> -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Default</a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Action</button>
      <button class="dropdown-item" type="button">Another action</button>
      <button class="dropdown-item" type="button">Something else here</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>