<h4>Bultos: {{filter}}</h4>
<table class="table">
    <!--<caption>Envios: {{filter}}</caption>-->
    <thead>
      <tr>
        <th scope="col">Origen</th>
        <th scope="col">Descripcion del bulto</th>
        <th scope="col">Vehiculo requerido</th>
        <th scope="col">Fecha de disponibilidad</th>
        <th scope="col">Fecha Maxima de Traslado</th>
        <th scope="col">Estado</th>
        <th scope="col" *ngIf="filter == 'pendiente'">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asig of asignaciones">
        <th>{{obtenerDonante(asig.bulto)}}</th>
        <th>{{asig.bulto.descripcion}}</th>
        <th>{{asig.bulto.volumen}}</th>
        <th>{{asig.bulto.fecha_disponibilidad}}</th>
        <th>{{asig.fecha_traslado}}</th>
        <th>{{asig.estado}}</th>
        
        <th *ngIf="filter == 'pendiente'">
          <button class="btn btn-success btn-small"
          (click)="aceptarAsignacion(asig)">Aceptar</button>
          <button class="btn btn-danger btn-small"
          (click)="rechazarAsignacion(asig)">Rechazar</button>
        </th>
      </tr>
    </tbody>
  </table>
