
<div class="album py-5 bg-light" style="margin:20px">
    <div class="container">
        <h4>Registrarse en una categoría</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4>Voluntario</h4>
                        <p class="card-text">Encuentra tu lugar en el Banco de Alimentos de La Plata,
                            tu granito de arena es muy importante. Sumate, y elige desde que lugar puedes aportar !
                        </p>
                        <div class="d-flex justify-content-center">
                            <a routerLink="register-voluntario">
                                <button type="button" class="btn btn-md btn-outline-secondary">Registrarse</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4>Organizacion Donante</h4>
                        <p class="card-text">Se parte de nuestra comunidad solidaria ! Registrate, y realiza tu primer donación que 
                            nosotros la hacemos llegar a cualquier parte de la ciudad</p>
                        <div class="d-flex justify-content-center">
                            <a routerLink="register-donante">
                                <button type="button" class="btn btn-md btn-outline-secondary">Registrarse</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4>Organizacion Beneficiaria</h4>
                        <p class="card-text">Si deseas recibir ayuda solidaria, solo tienes que registrarte 
                            y completar todos los datos. </p>
                        <div class="d-flex justify-content-center">
                            <a routerLink="register-beneficiario">
                                <button type="button" class="btn btn-md btn-outline-secondary">Registrarse</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
