<!-- <p>voluntario works!</p>

<header class="sticky">
    <a routerLink="envios" class="button"> <span> Envios </span> </a>
    <a routerLink="cars" class="button"> <span> Cars </span> </a>
    <a routerLink="insignas" class="button"> <span> Insignas </span> </a>
</header>
<router-outlet></router-outlet> -->

<nav class="navbar navbar-light bg-light">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Envios
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a routerLink="envios/pendiente"><button class="dropdown-item" type="button">Pendiente</button></a>
        <a routerLink="envios/aceptado"><button class="dropdown-item" type="button"> Aceptados</button></a>
        <a routerLink="envios/rechazado"><button class="dropdown-item" type="button">Rechazados</button></a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Bultos
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a routerLink="bultos/pendiente"><button class="dropdown-item" type="button">Pendientes</button></a>
        <a routerLink="bultos/aceptado"><button class="dropdown-item" type="button"> Aceptados</button></a>
        <a routerLink="bultos/rechazado"><button class="dropdown-item" type="button">Rechazados</button></a>
      </div>
    </div>
    <button routerLink="cars" class="button"> <span> Mis autos </span> </button>
    <button routerLink="insignas" class="button"> <span> Mis insignas </span> </button>
  </nav>
  <router-outlet></router-outlet>