<div class="container">
    <div class="py-5 text-center">
        <h3>Carga de paquetes</h3>
        <span>Cargue los paquetes formados con el bulto donado</span>
    </div>
    <div class="row">
        <div class="col-md-6 order-sm-2">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Paquetes Cargados</span>
                <span class="badge badge-secondary badge-pill">**cant**</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let paquete of paquetes">
                    <div>
                        <h6 class="my-0">{{paquete.codigo}}</h6>
                        <small class="text-muted">{{paquete.ubicacion}}</small>
                    </div>
                    <span class="text-muted">{{paquete.fecha_vencimiento}}</span>
                </li>
            </ul>
            <button type="button" class="btn btn-success">Listo</button>
        </div>
        <div class="col-md-6 order-sm-1 ">
            <h4 class="mb-3">Cargar Paquete</h4>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-10 mb-3">
                        <label for="firstName">Producto</label>
                        <div class="row">
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="productoId" placeholder="" value="" required>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-secondary">Nuevo</button>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            El producto es nesesario.
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="lastName">Cantidad</label>
                        <input type="text" class="form-control" id="cantidad" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            La cantidad es nesesaria.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 ">
                        <label for="firstName">Codigo</label>
                        <div class="row">
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="productoId" placeholder="" value="" required>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            El codigo es nesesario.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="lastName">Peso</label>
                        <input type="text" class="form-control" id="cantidad" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            La ubicacion es nesesaria.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Ubicacion</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Fecha de Vencimiento</label>
                    <input type="date" class="form-control" id="address" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country">Tipo de Alimento</label>
                    <select class="custom-select d-block w-100" id="country" required>
                        <option value="">Choose...</option>
                        <option>United States</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                </div>
                <hr class="mb-4">
                <button type="button" class="btn btn-success">Agregar</button>
            </form>
        </div>
    </div>
</div>