<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>Cargar contenido</h3>
            <span>Cargue los paquetes formados con el bulto donado</span>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Nuevo Paquete</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 order-sm-2">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Productos Cargados</span>
                        <span class="badge badge-secondary badge-pill">**cant**</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed"
                            *ngFor="let bpp of contenidoPaquete">
                            <div>
                                <h6 class="my-0">{{bpp.cantidad}} - {{bpp.productoNombre}} </h6>
                            </div>
                            <span class="text-muted">{{bpp.fecha_vencimiento_minima}}</span>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 order-sm-1 ">
                    <h4 class="mb-3">Cargar Producto</h4>
                    <form class="needs-validation" novalidate (ngSubmit)="onSubmitCrearBPP()"
                        [formGroup]="crearBPPForm">
                        <div class="row">
                            <div class="col-md-10 mb-3">
                                <label for="firstName">Producto</label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <select class="custom-select d-block w-100" id="country" required
                                            formControlName="producto">
                                            <option *ngFor="let prod of productos" value="{{prod.id}}">
                                                {{prod.nombre}} - {{prod.peso}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                            data-target="#crearProductoModal">Nuevo</button>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    El producto es nesesario.
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="lastName">Cantidad</label>
                                <input type="text" class="form-control" id="cantidad" placeholder="" value="" required
                                    formControlName="cantidad">
                                <div class="invalid-feedback">
                                    La cantidad es nesesaria.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="address">Fecha de Vencimiento Minima</label>
                                <input type="date" class="form-control" id="address" formControlName="fechaVencimiento"
                                    required>
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>
                        </div>
                        <div style="padding: 10">
                            <button type="submit" class="btn btn-success">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="mb-4">
            <form class="needs-validation" novalidate (ngSubmit)="onSubmitCrearPaquete()"
                [formGroup]="crearPaqueteForm">
                <div class="row">
                    <div class="col-md-4 ">
                        <label for="firstName">Codigo</label>
                        <div class="row">
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="productoId" placeholder="" value=""
                                    formControlName="codigo" required>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            El codigo es nesesario.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="lastName">Peso</label>
                        <input type="text" class="form-control" id="cantidad" placeholder="" value=""
                            formControlName="peso" required>
                        <div class="invalid-feedback">
                            La ubicacion es nesesaria.
                        </div>
                    </div>

                    <div class="col-md-5">
                        <label for="country">Tipo de Alimento</label>
                        <select class="custom-select d-block w-100" id="tipo" formControlName="tipoAlimento" required>
                            <option *ngFor="let ta of tiposAlimentos" value="{{ta.id}}">
                                {{ta.nombre}}</option>
                        </select>
                        <div class="invalid-feedback">
                            Seleccione un tipo de alimento correcto.
                        </div>
                    </div>

                    <div class="col-md-10">
                        <label for="address">Ubicacion</label>
                        <input type="text" class="form-control" id="address" placeholder="Ubicacion en gondolas"
                            formControlName="ubicacion" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="col-md-2 d-flex align-items-center">
                        <button type="submit" class="btn btn-success">Crear Paquete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card" style="margin-top: 20px;">
        <h5 class="card-header">Paquetes cargados</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6" *ngFor="let paquete of paquetes">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Codigo: {{paquete.codigo}}</h5>
                            <p class="card-text">Ubicacion: {{paquete.ubicacion}}
                            </p>
                            <div class="row d-flex justify-content-center">
                                <button class="btn btn-info" (click)="verPaquete(paquete)">Ver</button>
                                <button class="btn btn-danger" (click)="eliminarPaquete(paquete)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <button class="btn btn-success" (click)="terminarCarga()">Finalizar</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="crearProductoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="needs-validation" novalidate (ngSubmit)="onSubmitCrearProducto()"
        [formGroup]="crearProductoForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="lastName">Nombre</label>
                        <input type="text" class="form-control" id="cantidad" placeholder="" value=""
                            formControlName="nombre" required>
                        <div class="invalid-feedback">
                            El nombre es nesesaria.
                        </div>
                    </div>
                    <div >
                        <label for="lastName">Peso</label>
                        <input type="text" class="form-control" id="cantidad" placeholder="" value=""
                            formControlName="peso" required>
                        <div class="invalid-feedback">
                            El peso es nesesario.
                        </div>
                    </div>
                    <div >
                        <label for="lastName">Codigo de Barra</label>
                        <input type="text" class="form-control" id="cantidad" placeholder="" value=""
                            formControlName="codigoBarra" required>
                        <div class="invalid-feedback">
                            El codigo de barra es nesesaria.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="submitProducto" >Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('#submitProducto').submit(function(e) {
        e.preventDefault();
        // Coding
        $('#crearProductoModal').modal('hide'); //or  $('#IDModal').modal('hide');
        return false;
    });
</script>