<div *ngIf="filter == 'todos'">
  <button class="btn btn-info btn-small" (click)="nuevoEnvioButtonClick()">Nuevo Envio</button>
</div>

<table class="table">
    <caption>Envios: {{filter}}</caption>
    <thead>
      <tr>
        <th scope="col">Descripcion</th>
        <th scope="col">Peso</th>
        <th scope="col">Volumen</th>
        <th scope="col">Fecha Maxima de Traslado</th>
        <th scope="col">Fecha de Traslado</th>
        <th scope="col">Comentario de Traslado</th>
        <th scope="col">Estado</th>
        <th scope="col">Organizacion Beneficiaria</th>      
        <th scope="col" >Acciones:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let envio of envios">
        <th>{{envio.descripcion}}</th>
        <th>{{envio.peso}}</th>
        <th>{{envio.volumen[0] && envio.volumen[1]}}</th>
        <th>{{envio.fecha_maxima}}</th>
        <th>{{envio.fecha_traslado}}</th>
        <th>{{envio.comentario_traslado}}</th>
        <th>{{envio.estado}}</th>
        <th *ngIf="filter == 'sin-asignar'">
          <button class="btn btn-info btn-small" (click)="asignarTrasladoButtonClick(envio.id)">Asignar traslado</button>
        </th>
        <th *ngIf="filter !== 'sin-asignar'">
           {{obtenerVoluntarioAsignado(envio)}}
        </th>
      </tr>
    </tbody>
  </table>
