<h4>Envios: {{filter}}</h4>
<table class="table">
    <!--<caption>Envios: {{filter}}</caption>-->
    <thead>
      <tr>
        <th scope="col">Descripcion</th>
        <th scope="col">Destino</th>
        <th scope="col">Volumen</th>
        <th scope="col">Fecha de Asignacion</th>
        <th scope="col">Fecha Maxima de Traslado</th>
        <th scope="col">Comentario de Traslado</th>
        <th scope="col">Estado</th>
        <th scope="col" *ngIf="filter == 'pendiente'">Acciones</th>  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asig of asignaciones">
        <th>{{asig.envio.descripcion}}</th>
        <th>Implementar</th>
        <th>{{asig.envio.volumen}}</th>
        <th>{{asig.envio.fecha_asignacion}}</th>
        <th>{{asig.envio.fecha_maxima}}</th>
        <th>{{asig.envio.comentario_traslado}}</th>
        <th>{{asig.estado}}</th>
        <th *ngIf="filter == 'pendiente'">
          <button class="btn btn-success btn-small"
          (click)="aceptarAsignacion(asig)">Aceptar</button>
          <button class="btn btn-danger btn-small"
          (click)="rechazarAsignacion(asig)">Rechazar</button>
        </th>
      </tr>
    </tbody>
  </table>
