
<table class="table">
    <caption>Donaciones</caption>
    <thead>
      <tr>
        <th scope="col">Descripcion</th>
        <th scope="col">Volumen(Ancho x Largo)</th>
        <th scope="col">Fecha de Disponibilidad</th>
        <th scope="col">Fecha de Vencimiento</th>
        <th scope="col">Estado</th>
        <th scope="col" >Acciones:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bulto of bultos; let idx=index">
        <th>{{bulto.descripcion}}</th>
        <th>{{bulto.volumen[0]}} x {{bulto.volumen[1]}}</th>
        <th>{{bulto.fecha_disponibilidad}}</th>
        <th>{{bulto.fecha_vencimiento}}</th>
        <th>{{bulto.estado}}</th>
        <th *ngIf="bulto.estado == 'pendiente de retiro'">
            <button class="btn btn-primary btn-xs fa fa-pencil" [routerLink]="['/donante/edit-donacion',idx]"></button>
            <button class="btn btn-danger btn-xs fa fa-close" (click)="cancelarDonacion(bulto)"></button>
        </th>
      </tr>
    </tbody>
  </table>
  <a routerLink="/donante" class="btn btn-link">Atras</a>