<p>donaciones works!</p>

<div class="content">
    <!-- LISTADO DONACION -->
    <div class="row justify-content-md-center">
        <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let do of donaciones; let id=index" >
            <div>
                <span>Descripcion: {{do.descripcion}}</span><br>
                <span>Peso: {{do.peso}}</span><br>
                <span>Volumen: {{do.volumen}}</span>
            </div> 
            <div class="pull-right">
                <button class="btn btn-primary btn-xs fa fa-eye" [routerLink]="[id]"></button>
            </div>
        </li>
        </ul>
    </div>

</div>