<!--
<p>beneficiario works!</p>

<header class="sticky">
    <a routerLink="donaciones" class="button"> <span> Donaciones </span> </a>
</header>
-->

<nav class="navbar navbar-light bg-light">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mis donaciones
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a routerLink="donaciones/pendiente-de-retiro"><button class="dropdown-item" type="button">Pendiendes</button></a>
        <a routerLink="donaciones/realizado"><button class="dropdown-item" type="button">Recibidos</button></a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

