<p>beneficiarios works!</p>

<div class="content">
    <!-- LISTADO BENEFICIARIOS -->
    <div class="row justify-content-md-center">
        <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let be of beneficiarios; let id=index" >
            <div>
                <span>Razon Social: {{be.razonSocial}}</span><br>
                <span>CUIL: {{be.cuil}}</span><br>
                <span>Direccion: {{be.direccion}}</span>
            </div> 
            <div class="pull-right">
                <button class="btn btn-primary btn-xs fa fa-eye" [routerLink]="[id]"></button>
            </div>
        </li>
        </ul>
    </div>

</div>