<body>
    <main class="container">
        <br>
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Banco de Alimentos de La Plata</h1>
                <p class="lead text-muted">Recuperamos y recibimos donaciones de alimentos que no
                    son comercializables, pero sí aptos para el consumo humano,
                    con el objeto de entregar a entidades de bien público de la región
                </p>
            </div>
        </section>
    </main>
</body>